body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}

main {
  width: 50%;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);

  padding: 20px;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
}

.order-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.order-product-container > h3 {
  font-size: 18px;
  margin-top: 20px;
}

.order-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-product > img {
  width: 300px;
}

.order-product > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100px;
  display: inline-block;
  padding: 10px 0;
  margin: 5px 0;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.5s;
}

button:hover {
  background-color: darkblue;
}
