body{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

main{
  width: 50%;
  height: 50%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 2px solid rgb(207, 207, 207);
  border-radius: 5px;
  box-shadow: 2px 2px rgba(44, 24, 24, 0.1);;
}

h1{
  font-size: 30px ;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.inputbox{
  padding: 10px;
  width: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputbox > input {
  width: 80%;
  height: 40%;
  padding: 10px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  margin: 10px 0;
  
}

label{
  color: black;
  min-width: fit-content;
}

.loginBntNav > button{
  display: inline-block;
  font-size: 17px;  
  padding: 5px 10px 5px 10px;
  border-radius:5px;
  border: none;
  background-color: royalblue;
  color: #fff;
  cursor: pointer;
}

.loginBntNav > a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: black;
  font-weight:500;
}

.loginBntNav > a:hover{
  color: rgb(54, 96, 223);
}